@import "../common/common";

.request-invite-modal-container {
  .modal-body {
    padding: 40px 24px 55px;

    .request-form-wrapper {
      width: 80%;
      margin: 0 auto;
      form {
        .form-control {
          margin-bottom: 20px;
        }
        .btn-submit {
          margin-top: 30px;
        }
      }
    }

    .success-message {
      p {
        font-size: 14px;
      }
      button {
        width: 80%;
        margin-top: 3rem;
      }
    }
  }
}