html {
  position: relative;
  height: 100%;
}
html,
body {
  margin: 0;
}
body {
  font-family: "Helvetic Neue", "Hiragino Sans GB", "microsoft yahei", arial, sans-serif;
  background-color: #f2f2f2;
  height: 100%;
}
.inline-block {
  display: inline-block;
}
.full-width {
  width: 100%;
}
.no-padding {
  padding: 0;
}
.color-required {
  color: #c9510c;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
a.color-inherit {
  color: inherit;
}
.center-form-wrapper {
  padding-top: 80px;
}
.full-width-container {
  padding-left: 40px;
  padding-right: 40px;
}
.margin-top-normal {
  margin-top: 20px;
}
.err-msg {
  color: #e74c3c;
  font-size: 14px;
}
.err-msg .glyphicon {
  top: 2px;
}
.modal .modal-body .modal-description {
  margin-bottom: 20px;
}
.input-field {
  margin-bottom: 14px;
}
.input-field .input-title {
  padding-left: 0;
}
.input-field .input-title.aligned-title {
  padding-top: 6px;
}
.input-field .input-title .icon {
  position: absolute;
  top: 10px;
  right: -2px;
  color: #95a5a6;
  cursor: help;
  font-size: 14px;
}
.input-field .input-title .icon .tooltip-inner {
  width: 160px;
  font-size: 12px;
}
.btn.btn-clear {
  box-sizing: border-box;
  background: none;
  border: 2px solid #1abc9c;
  font-size: 14px;
  font-weight: normal;
  padding: 12px 28px 12px;
  color: #1abc9c;
}
.btn.btn-clear:hover {
  background: #1abc9c;
  color: white;
}
.request-invite-modal-container .modal-body {
  padding: 40px 24px 55px;
}
.request-invite-modal-container .modal-body form .form-control {
  margin-bottom: 15px;
}
.request-invite-modal-container .modal-body form .btn-submit {
  margin-top: 30px;
}
